body{
    background-color: black;
    overflow-x: hidden;
    color: white;
}

p {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


body, html {
    height: 100%;
}

.container {
    background: black;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    margin-bottom: 5px;
}

.wrapper {
    margin: 0;
    background-color: black;
    position: relative;
    padding: 10px;
}


.title {
    color: white;
    text-decoration: none;
    font-size: 20px;
    float:left;
}

.naviBar {
    float: right;
}

.navi-link {
    color: white;
    text-decoration: none;
    opacity: .7;
    padding: 0 10px;
    font-size: 20px;

}

.content {
    background-color: white;
    border-top: 1px solid #161d24;
    border-bottom: 1px solid #161d24;
    margin: 20px 0;
    height: 100%;
    color: black;
}

.headline {
    background-image: url("image/AboutmeBackgroud.jpg");
}