body{
    background-color: black;
    overflow-x: hidden;
    color: white;
}

p {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


body, html {
    height: 100%;
}

.container {
    background: black;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

#header {
    position: relative;
    padding: 10px;
    background-color: black;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: black;
}

.head-inner {
    color:white;
    margin:0%;
    width: 200px;
    align-items: center;
    display: inline;
}

.inner {
    display: flex;
    position: relative;
}

#naviBar {
    display: block;
    margin: auto;
}

.navi-link {
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    opacity: .7;
    padding: 0 15px;
    font-size: 25px;

}

.headnavi {
    color : white;
    font-size: 30px;
    margin-left: 50px;
}

.title {
    color: white;
    display: blcok;
    text-decoration: none;
    font-size: 30px;
}

#content-wrap {
    background-color: white;
    border-top: 1px solid #161d24;
    border-bottom: 1px solid #161d24;
    margin: -1px 0;
    height: 100%;
}

.nameCard-box {
    background-color: #003366;
    width: 320px;
    overflow:hidden;
    position: relative;
    float: left;
    margin: 0;
    padding:0;
}

.nameCard {
    padding: 45px 0;
}

.box-avatar {
    padding: 0px 65px 0 45px;
}

.mt1{
    font-size: 25px;
    margin-bottom: 20px;
}

.avatarImg {
    background-color: white;
    padding: 5px;
    border: 2px solid #0F9FB4;
    vertical-align: middle;
    border-radius:50%;
}

.motto {
    font-size: 13px;
    font-family: 'Noto Serif SC', serif;
    background: rgba(0, 0, 0, 0.15);
    border-left: 2px solid #0F9FB4;
    padding: 20px 65px 20px 43px;
    margin-bottom: 20px;
}