body{
    overflow-x: hidden;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


body, html {
    height: 100%;
}

.container {
    background-color: black;
    height: auto;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    margin: 0 0;
    padding-bottom: 10px;
}

.wrapper {
    margin: 0;
    background-color: black;
    position: relative;
    padding: 10px;
}


.title {
    color: white;
    text-decoration: none;
    font-size: 20px;
    float:left;
}

.naviBar {
    float: right;
}

.navi-link {
    color: white;
    text-decoration: none;
    opacity: .7;
    padding: 0 10px;
    font-size: 20px;

}

.content {
    background-color:#003366;
    border-top: 1px solid #161d24;
    border-bottom: 1px solid #161d24;
    margin: 0 0;
    height: auto;
}

.nameCard-box {
    overflow:hidden;
    padding:0;
    margin-right: 0;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
}


.nameCard {
    padding: 45px 0;
    width: 320px;
    margin: 0 auto;
}

.box-avatar {
    padding: 0px 65px 0 45px;
    width: 200px;
    margin-right: 0;
}

.mt1{
    font-size: 25px;
    margin-bottom: 20px;
}

.avatarImg {
    background-color: white;
    padding: 5px;
    border: 2px solid #0F9FB4;
    vertical-align: middle;
    border-radius:50%;
}

.motto {
    font-size: 13px;
    font-family: 'Noto Serif SC', serif;
    background: rgba(0, 0, 0, 0.15);
    border-left: 2px solid #0F9FB4;
    padding: 20px 65px 20px 43px;
    margin-bottom: 20px;
    width: 194px
}

.post-list {
    color: black;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid  #e0e0eb;
    margin-bottom: 20px;
}

.post-preview {
    margin-left: 40px;
    width: 66.6666667%;
    
}

